.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-container {
  width: 80%;
  margin: 10px 0;
}

.ruleta-container {
  margin: 20px 0;
  text-align: center;
}

.result-container {
  text-align: center;
  margin-top: 20px;
}


.vertical {
  display: inline-block;
}

.horizontal {
  display: none;  
}

@media (orientation: portrait) {
  .vertical {
    display: block; 
  }

  .horizontal {
    display: none;
  }

  .ruleta-container img {
    width: 50%; 
    height: auto;
  }
}

@media (orientation: landscape) {
  .vertical {
    display: none; 
  }

  .horizontal {
    display: block; 
  }

  .ruleta-container img {
    width: 30%;
    height: auto;
  }
}
