.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.input-container {
  width: 80%; 
  margin: 10px 0; 
}

.ruleta-container {
  margin: 20px 0; 
}

.result-container {
  text-align: center; 
  margin-top: 20px; 
}
.ruleta-container{
  text-align: center;
}