<ion-header>
  <ion-toolbar>
    <ion-title>Juego de Apuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content">
  <div class="input-container">
    <ion-item>
      <ion-label position="floating">Ingresa tu sueldo</ion-label>
      <ion-input type="number" [(ngModel)]="sueldo"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="iniciarJuego()">Iniciar Juego</ion-button>
  </div>

  <div *ngIf="saldo > 0" class="input-container">
    <ion-item>
      <ion-label position="floating">Apuesta</ion-label>
      <ion-input type="number" [(ngModel)]="apuesta"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="hacerApuesta()" [disabled]="!apuesta">Apostar</ion-button>
  </div>

  <div *ngIf="ruletaVisible" class="ruleta-container">
    <div *ngIf="isPortrait" class="vertical">
      <ion-img src="assets/ruleta-03.gif" alt="Ruleta Vertical" />
    </div>

    <div *ngIf="!isPortrait" class="horizontal">
      <ion-img src="https://media.tenor.com/neir67NC49wAAAAM/ruleta.gif " alt="Ruleta Horizontal" />
    </div>
  </div>

  <div *ngIf="resultado" class="result-container">
    <p>{{ resultado }}</p>
    <p>Saldo: {{ saldo }}</p>
  </div>
</ion-content>
